 /* @Dsc web development for 30 Days - Firebase Day-2 By Pranav Agarwal-DSC MRIIRS   */

body{
    margin: 0;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(235, 230, 230);
}

.frm{
    background-color: white;
    padding: 20px;
    height: 380px;
}

.inp{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 280px;
}