*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height: 100%;
    background-color: black;
    box-sizing: border-box;
}


input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #ccc;
        box-sizing: border-box;
    }
     
    button {
        background-color: royalblue;
        color: white;
        padding: 15px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 100%;
    }
 
    .signupbtn {
        float: left;
        width: 100%;
    }
     
    .container {
        padding: 16px;
    }
   
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
     
    @media screen and (max-width: 300px) {
        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }

    h1 {
        color: #fff;
        font-size: 3rem;
        font-weight: 50;
        text-align: center;
        margin: 1rem 0 3rem; 
        font-family: 'Hind', sans-serif;
    }
    
    .title{
        color: lime;
        text-transform: uppercase;
        font-weight: 800;
    }
    
    .inputDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .input{
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        height: 50px;
        border-radius: 25px;
        width: 350px;
        margin: 0.25rem;
        transition: .5s;
        font-size: 1.15rem;
    }
    
    .add{
        outline: none;
        border: none;
        height: 50px;
        border-radius: 25px;
        width: 50px;
        background-color: lime;
        color: white;
        cursor: pointer;
        transition: .5s;
        margin: 0.25rem;
    }
    
    .add:hover{
        opacity: 0.7;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    
    .item{
        padding: 0.5rem;
        border-bottom: 4px solid #fff;
        margin-bottom: 1.5rem;
    }
    
    .item_input{
        background: none;
        outline: none;
        border: none;
        color: #fff;
        font-size: 1.4rem;
        width: 245px;
    }
    
    .edit{
        background: none;
        outline: none;
        border: none;
        color: lime;
        font-size: 1.4rem;
        font-family: 'Hind', sans-serif;
        margin: 0 0.5rem;
        cursor: pointer;
    }
    
    .remove{
        background: none;
        outline: none;
        border: none;
        color: #E00;
        font-size: 1.4rem;
        font-family: 'Hind', sans-serif;
        cursor: pointer;
    }