html{
    background-image: linear-gradient(rgb(220, 228, 107), rgb(142, 225, 231) , rgb(126, 223, 166)  );
    height: 100%;
    background-repeat: no-repeat;
    background: cross-fade(1);
}
body {
    margin: 10px auto;
    min-width: 250px;
    max-width: 50%;
   
   
  }
  /* list*/
  * {
    box-sizing: border-box;
    border-radius: 28px;
    box-shadow: 10px black;
  }
  
  ul {
    margin: 30px;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 14px 10px 14px 46px;
    list-style-type: none;
    background:rgb(230, 240, 88);
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set zebra-stripes: all odd list items to a different color */
  ul li:nth-child(odd) {
  background: rgb(182, 241, 222);
  }
  ul li:hover {
    background: #ddd;
  }
  ul li.checked {
    background: teal;
    color: white;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: crimson;
    color: white;
  }
  .header {
    background-color: rgb(129, 231, 168);
    padding: 10px 30px;
    margin: 7px;
    color: white;
    text-align: center;
    border-radius: 40px;
    z-index: 2;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  input {
    margin: 0;
    border: none;
    border-radius: 15px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 19px;
  }
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
  }
  .addBtn:hover {
    background-color: #bbb;
  }
  #clear-list{
    width: 30%;
    font-weight: bold;
    font-style: italic;
    font-size: xx-large;
    font-family: "Times New Roman";
    margin: 40px 35%;
    background-color: rgb(238, 58, 103);
    color: white;
    opacity: 0.8;
  }
  #clear-list:hover{
    background-color: rgb(20, 173, 89);
    color: white;
}
input + span::before {
  content: "✔";
  display: block;
  font-size: 22px;
  height: 13px;
  width: 13px;
  position: absolute;
  right: -2px;
  top: -8px;
  z-index: 10;
  opacity: 0;
}  
input + span::after {
    content: "";
    display: block;
    border: 1px solid #497081;
    border-radius: 13px;
    height: 13px;
    width: 13px;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 10;

 transition: all 550ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
 transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
label {
    cursor: pointer;
    font-size: 0.82rem;
    width: 100%;
    display: block;
}
    
    input {
        float: right;
        opacity: 40%;
    }
    
    
    