body{
    text-decoration: none;
    line-height: 1.2cm;
    margin: auto;
}

.space{
    letter-spacing: 40px ;
    font-weight: bolder;
    cursor:default;
    font-size: 50px;
}
/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}
  
/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}
  
  /* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}
  
  /* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  
  /* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover {
    background-color:red;
    color: black;
}
  
  /* Style the header */
.header {
    background-color: #ff9999;
    padding: 30px 40px;
    color:blue;
    text-align: center;
    font-weight: 1000;
}
  
  /* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
  
  /* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color:#990000;
    letter-spacing: 10px;
    float: left;
    text-align: center;
    font-weight:bolder;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
  
.addBtn:hover {
    background-color:grey;
}
  
.center{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    
    
    background-size: auto;
}
.background{
    background-color: rgb(97, 212, 188);
    color: red;
  }
.backgroundofplan{
    background-color: rgb(146, 134, 153);
    color:black;
}

.progress{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background: rgb(158, 145, 29);
    overflow: hidden;
    position: relative;
    margin: auto;
}
.progress__fill{
    width: 0%;
    height: 100%;
    background:rgb(90, 202, 90);
    
    margin: auto;
}
.progress__text{
    position: absolute;
    top:50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 30px;
    color: rgb(139, 4, 4);
    font-weight: bolder;
    margin: auto;
} 