{
  box-sizing:border-box;
}
ul li.checked {
  background: rgb(248, 238, 244);
  color: rgb(0, 0, 0);
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(236, 175, 221);
  font-size: 18px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f3f7c8;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #55fc79;
  color: rgb(121, 9, 9);
}

.header {
  background-color: #c0bbfa;
  padding: 30px 40px;
  color:#000000;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 20px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: center;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

