* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 28px;
    background-color: #f8c471;
    transition: 0.3s;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
    background-color: #fdebd0;
}

ul li:hover {
    background-color: #fad7a0;
}

ul li.checked {
    background-color: #ccd1d1;
    color: #ffffff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: bisque;
    color: white;
}

.heading {
    color: #e74c3c;
    font-size: 40px;
}

.header {
    background-color: #F4D03F;
    padding: 10px 40px 35px 40px;
    color: white;
    text-align: center;
}

.header::after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 20px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555555;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0%;
}

.addBtn:hover {
    background-color: #bbbbbb;
}
