/*include the padding and border in an element's total width and height*/
*{
  box-sizing: border-box;
}

/*remove margins and paddings from the list*/
ul{
  margin: 0;
  padding: 0;
}

/*styling the list items*/
ul li{
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgba(238,238,238,0.3);
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;
  user-select: none;
}

/*set all the odd items to a different color*/
ul li:nth-child(odd){
  background: rgba(249,249,249,0.3);
  color: white;
  font-weight: bold;
}

/*darker background on hover*/
ul li:hover{
  background: rgba(221,221,221,0.3);
}

/*header styling*/
.header{
  background: rgba(0,0,0,0);
  padding: 30px 40px;
  color: white;
  text-align: center;  
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/*heading styling*/
.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewX(-10deg);
  letter-spacing: 5px;
  color: black;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 black,
    -30px 20px 40px black;
}

/*background image*/
body{
  background-image: url(img/pexels-pixabay-531880.jpg);
  height: 100%;
  width: 100%;
}

/*h1 tag styling*/
#first{
  text-align: center; 
  text-transform: uppercase;
  word-spacing: 5px;
  color: tomato ;
  text-shadow:
    1px 1px 0 black,
    -3px 5px 4px dimgrey; 
    text-decoration: underline;
}

/*when clicked on list add a background and strike out text*/
ul li.done {
  background: rgba(136,136,136,0.3);
  color: #fff;
  text-decoration: line-through;
  font-weight: normal;
}

/*add a tick mark when clicked on(not working)*/
ul li.checked::before{
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/*styling the close button*/
.close{
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}


.close:hover {
  background-color: #f44336;
  color: white;
}

#userinput{
  margin: 0;
  border: none;
  top: 150px;
  font-family: calibri;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;

}

#enter{
  width: 25%;
  padding: 10px;
  float: left;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  transition: 0.3s;
}
