body {
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	background-image: url('../images/qbkls.png');
}

	



.img-fluid {
	max-width: 100%;
}

.main-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

.nav-wrap {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}

nav {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#logo {
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 30px 30px;
	margin: 0;
}

h1 {
	margin-bottom: 20px;
	font-size: 1.3em;
	font-weight: bold;
	color: #4aaaa5;
}

hr {
	margin-top: 10px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .125);
}

nav .nav-items {
	display: flex;
	align-items: center;
	padding-right: 10px;
	list-style: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav .nav-items li {
	padding-left: 30px;
}

nav .nav-items li a {
	text-decoration: none;
	color: #777777;
}

nav .nav-items li a:hover {
	color: #4aaaa5;
}

.main-content {
	max-width: 900px;
	margin: 0 auto;
	background-color: #ffffff;
	border: #dddddd;
	padding: 20px 30px;
}

section.projects {
	margin: 30px auto;
	display: flex;
}

.card {
	margin: 10px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, .125);
}

.card-body {
	padding: 1.25rem;
}

.card-title {
	margin-bottom: 10px;
}

.btn-primary {
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	color: #ffffff;
	padding: 10px 20px;
	margin: 10px;
	background-color: #4aaaa5;
}

.Profile {
	float: left;
	padding-right: 20px;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-bottom: 20px;
	font-size: 1.2rem;
	line-height: 1.5em;
}

form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

input,
textarea {
	font-size: 0.89em;
	width: 100%;
	border: 1px solid #ccc;
}

input {
	box-sizing: border-box;
	margin: 10px 0px;
	padding: 10px;
}

form input[type=submit] {
	background-color: #4aaaa5;
	border: none;
	color: white;
	margin-top: 10px;
	font-size: 1.2rem;
	padding: 15px;
	width: 200px;
}

footer {
	width: 100%;
	padding: 25px 0px;
	text-align: center;
	background-color: grey;
	border-top: 8px solid #cf0733;
	color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
	nav {
		display: block;
	}

	#logo {
		text-align: center;
	}

	nav .nav-items {
		padding: 20px;
		justify-content: center;
	}

	nav .nav-items li {
		padding: 0px 10px;
	}

	.main-content {
		margin: 50px auto;
	}

	.Profile {
		width: 100%;
		margin: 15px auto;
	}

	section.projects {
		flex-direction: column;
	}
}

@media screen and (min-width: 640px) {
	.Profile {
		max-width: 30%;
		margin: 0 auto;
	}

	section.projects {
		flex-direction: row;
	}
}
