@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');




:root{
	--dark-violet: hsl(256, 26%, 20%)
}


html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	}

nav{
	position: fixed;
	top: 0;
	padding: 20px 0;
	left: 0;
	width: 100vw;
	background: white
}

nav ul{
	display:flex;
	list-style-type: none;
	padding: 0;
	flex-direction: row;
	float: right;
	margin-right: 20px;
}	

nav li{
	   margin-left: 10px;
	   margin-right: 20px;
}

nav li a{
	text-transform:uppercase;
	text-decoration: none;
	color:var(--dark-violet);
}

.btn{
	padding: 12px 15px;
	border: 2px solid var(--dark-violet);
	text-transform: uppercase;
}

.main-header{ 
	          background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
			  padding: 30px;
			  margin-top: 60px
            }

p { 
	margin-top: 0; 
	text-align: justify;
	line-height: 1.7em;
	font-size: 20px;
	}

h1 { 
	font: italic normal 4em georgia, sans-serif;
	letter-spacing: 2px; 
	padding-top: 50px;
	color: #7D775C;
    line-height: 1;
	}

.flex{
	display: flex;
	align-items:center;
	justify-content: space-between;
}

img{
	border: 5px solid #7D775C;
	margin-left: 20px;
}

table,th,td{
	font-size: 20px;
	border: solid #555753 2px;
	width: fit-content;
	height: 50px;
}

video{
	  width:max-content;
	  height:100px;
	  border:thistle solid 2px;
	  margin: 10px 15px 10px 15px;
	  
}

footer { 
	text-align: left; 
	font-size: 25px;
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}