@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(17,218,245);
    background: linear-gradient(139deg, rgb(8, 4, 245) 0%, rgb(21, 247, 198) 100%);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
#todos{
    color: white;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    height: auto;
}
#todos > .heading{
    margin-bottom: 30px;
    text-align: center;
}
#todos > .heading > h1{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 2.5rem;
}
#todos > .heading > h1::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: white;
    transition: .5s;
}
#todos > .heading > h1:hover::before{
    width: 100%;
}
#todos > .todo-input-container{
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
#todos > .todo-input-container > .todo_input{
    width: 100%;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 1.2rem;
    outline: none;
    border: none;
}
#todos > .todo-input-container > .add-item{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgb(236, 44, 44);
    line-height: 40px;
    color: white;
    cursor: pointer;
}
#todos > .todo-input-container > .add-item:nth-child(2){
    right: 40px;
    background-color: turquoise;
}
#todos > .todo-list-container{
    list-style: none;
    margin: 10px 0 0;
}
#todos > .todo-list-container .todo-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#todos > .todo-list-container .todo-list .todo-item{
    width: 100%;
    background-color: white;
    color: black;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
}
#todos > .todo-list-container .todo-list .button{
    position: absolute;
    right: 0;
}
#todos > .todo-list-container .todo-list .button button{
    width: 40px;
    height: 50px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}
#todos > .todo-list-container .todo-list .button .completed{
    background-color: turquoise;
}
#todos > .todo-list-container .todo-list .button .trash{
    background-color: #e72727;
}

#todos > .todo-list-container .todo-list .button button i{
    pointer-events: none;
}
.fall{
    opacity: 0 !important;
    transform: translateY(10rem) rotateZ(30deg);
    transition: .5s;
}
.line_through{
    text-decoration: line-through;
    opacity: 0.7;
    transition: .4s;
    color:black;
}
@media screen and (max-width: 600px){
    #todos{
        width: 100%;
    }
}

