.navi{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    
}

.navi li{
    float: right;
    display: inline;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-left: 1px solid #bbb;
}

li a:hover:not(.active) {
    background-color: #444;
}
  
.active {
    background-color: #4CAF50;
}

.navi li a{
    display: block;
    padding: 14px 16px;
    color: seashell;
    text-decoration: none;
    
}

header{
    text-align: center;
    text-decoration: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(170, 252, 255);
    padding-top: 100px;
    padding-bottom: 50px;
    border-bottom: dotted;
    border-radius: 4px;
}

body {
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:rgb(170, 252, 255);
    text-align: center;
}

.column {
    float: left;
    width: 45%;
    padding: 30px;
}

.row{
    padding-bottom: 50px;
    border-bottom: dotted;
    border-radius: 4px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.yt{
    padding-bottom: 50px;
    border-bottom: dotted;
    border-radius: 4px;
}

.info-table{
    padding-bottom: 50px;
    border-bottom: dotted;
    border-radius: 4px;
}
#co-table{
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    height: 300px;
    
}

#co-table td, th{
    border: 1px solid #ddd;
    padding: 10px;
}

#co-table a, footer a{
    color:deeppink;
    text-decoration: none;
}

.feedback{
    text-align: left;
    padding-bottom: 50px;
    border-bottom: dotted;
    border-radius: 4px;
}

textarea{
    width: 300px;
    height: 90px;
}