*{
    margin: 0%;
    padding: 0%;
}
img {
    border-radius: 50%;
    border-color: black;
    text-align: center;
    border: 3px solid black;
  }

body{
    width: auto;
    height: auto;
    font-size: 17px;
    font-weight: normal;
    margin: auto;
    background-color: rgb(240, 239, 239);
    border: 10px solid red;
}

.background{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;

}
h3{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}
table{
    width: 100%;
    text-align: center;
    padding: 8px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    
}
.skill{
    width: 80%;
    text-align: center;
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.contact{
    text-align: center;
}
input[type=text],input[type=email],input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    outline: none;
}

input[type=text]:focus,input[type=email]:focus,input[type=tel]:focus {
background-color: lightblue;
}
.edu{
    text-align: center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
background-color: white; 
color: black; 
border: 2px solid #4CAF50;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}