#pgcontent{
	max-width: 600px;
	margin: auto;

}


header
{
	font-family: 'Bangers';
	font-size: 30px;
	letter-spacing: 2px;
	transition-duration: 0.5s;
}

header:hover{
	letter-spacing: 4px;
}

#header
{
	text-align: center;
	margin: auto;
  width: 50%;
}

#hea
{ font-family: 'Antic';font-size: 35px;
color: white;
}



#h3
{font-family: 'Antic';font-size: 25px;
color: white;
}

#info
{
	font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#info td, #info th {
  border: 1px solid #ddd;
  padding: 8px;
}

#info tr:nth-child(even){background: rgba(255, 250, 250, 0.3);/*opacity: 0.5;*/}

#info tr:hover {background-color: #ddd;}

form
{
	border-radius: 5px;
  /*background-color: snow;*/
  padding: 20px;
  width: 100%;
  /*opacity: 0.8;*/
  background: rgba(255, 250, 250, 0.3); 
}

input[type=text],input[type="Number"],input[type="email"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"]{
width: 5%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit {
  width: 100%;
  color: white;
  background-color: black;
 /* border: 3px solid black;*/
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#submit:hover
{	opacity: 75%;
  
}

footer{
  background: rgba(242, 242, 242, 0.3); 
  padding: 10px;
  text-align: center;
}

hr{
	height:1px;
	border-width:0;
	color:white;
	background-color:white
}