*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
   
}
.fa-facebook-official{
    color: #3b5998;
}
.fa-linkedin{
    color: 	#0077b5;
}
.fa-github{
    color: #00405d;
}
.card{
    border-radius: 20px;
    box-shadow: rgb(117, 116, 116) 1px 1px 1px;
}