body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  color: #fff;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-Bold';
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container {
  padding: 3% 15% 7%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#features {
  padding: 7% 15%;
  font-family: 'Montserrat-Bold';
  position: relative;

  background-color: #fff;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: lighter;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  right: 5%;
  position: absolute;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}

#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

#footer{
  text-align: center;
  border-color: #fff;
  padding: 7% 15%;

}
a{
  color: #121013;
}

.footerp{
  padding-top:40px;
}
